.person {
    position: fixed;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

#Albedo {
    height: 60vh;
    bottom: 0;
}

.albedo-container {
    left: 0;
    bottom: 0;
}

.rat-container {
    right: 0;
    bottom: -10%;
}

.albedo-dialog {
    position: fixed;
    height: 40%;
    left: 20%;
    bottom: 45%;
}

.rat-dialog {
    position: fixed;
    height: 40%;
    right: 22%;
    bottom: 35%;
}

.code-dialog-alb {
    color: black;
    position: fixed;
    left: 23.5%;
    bottom: 61%;
    font-size: 3.5vh;
    text-align: center;
}

.code-dialog-rat {
    color: black;
    position: fixed;
    right: 26%;
    bottom: 52%;
    font-size: 3.5vh;
    text-align: center;
    z-index: 2;
}

#N {
    height: 100vh;
    bottom: -30vh;
}

.n-container {
    left: 0;
    bottom: 0;
}

.n-dialog {
    position: fixed;
    height: 40%;
    left: 17%;
    bottom: 52%;
}

.code-dialog-n {
    color: black;
    position: fixed;
    left: 20.5%;
    bottom: 70%;
    font-size: 3.5vh;
    text-align: center;
}