#header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 9vh;
    background-color: rgb(220, 220, 250);
}

#logo_star{
    position: inherit;
    top: 0.5vh;
    left: 0.5vh;
    height: 8vh;
    width: auto;
    border-radius: 4vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2vh 3vh rgb(255, 255, 255);
    transition: background 0.8s, box-shadow 0.8s;
}
#logo_star:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2vh 3vh rgb(0, 0, 0);
    transition: background 0.8s, box-shadow 0.8s;
}

#naming{
    position: inherit;
    height: 2vh;
    width: auto;
    top: 2.6vh;
    left: 12vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
}

#n_number{
    position: inherit;
    height: 3vh;
    width: 22.8vh;
    top: 2.5vh;
    left: 30vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 1vh;
}

#load_difficulty_info{
    position: inherit;
    height: 2.8vh;
    width: 23.2vh;
    text-align: center;
    top: 6vh;
    left: 30vh;
    font-size: 1.7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 1vh;
}

#path_start{
    position: inherit;
    background-color: rgb(0, 201, 64);
}
#path_start:hover{
    position: inherit;
    background-color: rgb(26, 255, 0);
}

#path_end{
    position: inherit;
    background-color: rgb(201, 0, 0);
}
#path_end:hover{
    position: inherit;
    background-color: rgb(255, 55, 0);
}

.movable_block{
    transition: background 0.5s, border-radius 0s, left 1s, top 1s, height 1s, width 1s;
    z-index: 5;
}

.switch_button.false{
    background-color: rgb(255, 150, 150);
    transition: background 0.5s;
}
.switch_button.true{
    background-color: rgb(166, 255, 150);
    transition: background 0.5s;
}
.switch_button{
    position: inherit;
    height: 3vh;
    width: auto;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    border: 0;
    border-radius: 1vh;
    transition: background 0.5s;
}
.switch_button:hover{
    background-color: rgb(255, 243, 150);
    transition: background 0.3s;
}

.subm_button{
    position: inherit;
    height: 3vh;
    width: auto;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 1vh;
    transition: background 0.3s;
}
.subm_button:hover{
    background-color: rgb(243, 255, 219);
    transition: background 0.3s;
}
.subm_button:active{
    background-color: rgb(211, 255, 122);
    transition: background 0.05s;
}

#create_subm{
    top: 2.5vh;
    left: 55vh;
}

#maze_subm{
    top: 2.5vh;
    left: 70vh;
}

#solution_subm{
    top: 2.5vh;
    left: 86.7vh;
}

#enum_switch{
    top: 2.5vh;
    left: 111.2vh;
}

#clear_subm{
    top: 2.5vh;
    left: 97.4vh;
}

#container{
    position: absolute;
    left: 0;
    top: 9vh;
    width: 100vw;
    height: 91vh;
    align-items: center;
    align-content: center;
    background: rgb(244, 244, 244) url("images/a-star-bg.png");
}

#matrix_box{
    position: inherit;
    top: 0.7vh;
    left: 30vh;
    width: 87vh;
    height: 87vh;
    padding: 0.5vh;
    align-items: center;
    background-color: rgb(36, 36, 36);
    border-radius: 1vh;
    border: 0.3vh solid rgb(90, 90, 90);
    overflow: hidden;
    overflow-wrap: normal;
}

.matrix_el_1_box.goodF{
    transition: background 0.05s;
    background-color: rgb(85, 0, 255);
    /* background-color: rgb(255, 0, 132); */
    text-align: center;
}
.matrix_el_1.goodF{
    transition: background 0.05s;
    background-color: rgb(85, 0, 255);
    /* background-color: rgb(255, 0, 132); */
}
.matrix_el_1_box.good{
    transition: background 0.25s;
    background-color: rgb(0, 237, 162);
    text-align: center;
}
.matrix_el_1.good{
    transition: background 0.25s;
    background-color: rgb(0, 237, 162);
}
.matrix_el_1_box.vsited{
    transition: background 0.05s;
    background-color: rgb(237, 237, 0);
}
.matrix_el_1.vsited{
    transition: background 0.05s;
    background-color: rgb(237, 237, 0);
}

.matrix_el_0_none{
    background-color: rgb(36, 36, 36);
    transition: background 1s, border-radius 0s, left 1s, top 1s, height 1s, width 1s;
}

.matrix_el_1_box{
    background-color: rgb(237, 218, 255);
    transition: background 1s, border-radius 0s, left 1s, top 1s, height 1s, width 1s;
}
.matrix_el_1_box:hover{
    transition: background 0.05s;
    background-color: rgb(255, 222, 206);
}
.matrix_el_1_box:active{
    transition: background 0.02s;
    background-color: rgb(255, 200, 175);
}
.matrix_el_1{
    background-color: rgb(255, 255, 255);
    transition: background 1s, border-radius 0s, left 1s, top 1s, height 1s, width 1s;
}
.matrix_el_1:hover{
    transition: background 0.05s;
    background-color: rgb(230, 255, 206);
}
.matrix_el_1:active{
    transition: background 0.02s;
    background-color: rgb(254, 255, 175);
}

.matrix_el_0{
    background-color: rgb(13, 13, 13);
    transition: background 1s, border-radius 0s, left 1s, top 1s, height 1s, width 1s;
}
.matrix_el_0:hover{
    transition: background 0.05s;
    background-color: rgb(36, 43, 29);
}
.matrix_el_0:active{
    transition: background 0.02s;
    background-color: rgb(72, 72, 27);
}
