#header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 9vh;
    background-color: rgb(220, 220, 250);
}

#logo_neuro{
    position: inherit;
    top: 0.5vh;
    left: 0.5vh;
    height: 8vh;
    width: auto;
    border-radius: 4vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2vh 3vh rgb(255, 255, 255);
    transition: background 0.8s, box-shadow 0.8s;
}
#logo_neuro:hover{
    background-color: rgb(52, 47, 64);
    box-shadow: 0 0 2vh 3vh rgb(52, 47, 64);
    transition: background 0.8s, box-shadow 0.8s;
}

#naming{
    position: inherit;
    height: 2vh;
    width: auto;
    top: 2.6vh;
    left: 12vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
}

.false{
    background-color: #ff5757;
}

.true{
    background-color: #b5ff54;
}

#resolutionChanger{
    position: inherit;
    height: 2.8vh;
    width: 15vh;
    top: 3vh;
    left: 22vh;
}
#resolutionVal{
    position: inherit;
    height: 2.8vh;
    width: 15vh;
    top: 4.4vh;
    left: 22vh;
    text-align: center;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
#resolutionName{
    position: inherit;
    height: 2.8vh;
    width: 15vh;
    top: 1vh;
    left: 22vh;
    text-align: center;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#brushChanger{
    position: inherit;
    height: 2.8vh;
    width: 15vh;
    top: 3vh;
    left: 40vh;
}
#brushVal{
    position: inherit;
    height: 2.8vh;
    width: 15vh;
    top: 4.4vh;
    left: 40vh;
    text-align: center;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
#brushName{
    position: inherit;
    height: 2.8vh;
    width: 15vh;
    top: 1vh;
    left: 40vh;
    text-align: center;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#send_button{
    position: inherit;
    height: 2.8vh;
    width: 16vh;
    top: 3vh;
    left: 86vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #f6f6f6;
    border-radius: 1vh;
    align-content: center;
    text-align: center;
    vertical-align: text-top;
    transition: background 0.5s;
}

#send_button:hover{
    background-color: #feffde;
    transition: background 0.5s;
}

#send_button:active{
    background-color: #bfff92;
    transition: background 0.02s;
}

#clear_button{
    position: inherit;
    height: 2.8vh;
    width: 9vh;
    top: 3vh;
    left: 75vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #f6f6f6;
    border-radius: 1vh;
    align-content: center;
    text-align: center;
    vertical-align: text-top;
    transition: background 0.5s;
}

#clear_button:hover{
    background-color: #feffde;
    transition: background 0.5s;
}

#clear_button:active{
    background-color: #bfff92;
    transition: background 0.02s;
}

#drawingField{
    width: 80vh;
    height: 80vh;
    position: fixed;
    top: 5vh;
    left: 15vh;
    border: 3px solid rgb(52, 47, 64);
    border-radius: 10px;
    image-rendering: pixelated;
}

#robot{
    position: fixed;
    bottom: -10vh;
    left: 5vh;
    width: 30vh;
    height: 40vh;
    transition: 0.2s;
}
#rBody{
    position: absolute;
    bottom: 0;
    left: 6vh;
    width: 18vh;
    height: 23vh;
    border-radius: 2vh;
    background-color: rgb(161, 158, 163);
    transition: 0.2s;
}
#rNeck{
    position: absolute;
    bottom: 22.94vh;
    left: 14vh;
    width: 2vh;
    height: 3.25vh;
    transition: 0.2s;
}
#rNeck_seg_0{
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 2vh;
    height: 0.75vh;
    border-radius: 2px;
    background-color: rgb(159, 147, 165);
    transition: 0.2s;
}
#rNeck_seg_1{
    position: absolute;
    bottom: 0.8vh;
    left: -1px;
    width: 2vh;
    height: 0.75vh;
    border-radius: 2px;
    background-color: rgb(159, 147, 165);
    transition: 0.2s;
}
#rNeck_seg_2{
    position: absolute;
    bottom: 1.65vh;
    left: -1px;
    width: 2vh;
    height: 0.75vh;
    border-radius: 2px;
    background-color: rgb(159, 147, 165);
    transition: 0.2s;
}
#rNeck_seg_3{
    position: absolute;
    bottom: 2.5vh;
    left: -1px;
    width: 2vh;
    height: 0.75vh;
    border-radius: 2px;
    background-color: rgb(159, 147, 165);
    transition: 0.2s;
}
#rHead{
    position: absolute;
    bottom: 26.3vh;
    left: 7.3vh;
    width: 15vh;
    height: 10vh;
    border-radius: 2vh;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#rEyeA_L{
    position: absolute;
    top: 1.5vh;
    left: 2vh;
    width: 4vh;
    height: 4vh;
    border-radius: 5vh;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
}
#rEyeA_R{
    position: absolute;
    top: 1.5vh;
    right: 2vh;
    width: 4vh;
    height: 4vh;
    border-radius: 5vh;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
}
#rEyeB_L{
    position: absolute;
    top: 1vh;
    left: 1vh;
    width: 0.9vh;
    height: 0.9vh;
    border-radius: 5vh;
    background-color: black;
    border: 0.6vh solid rgb(0, 255, 162);
    transition: 0s;
}
#rEyeB_R{
    position: absolute;
    top: 1vh;
    right: 1vh;
    width: 0.9vh;
    height: 0.9vh;
    border-radius: 5vh;
    background-color: black;
    border: 0.6vh solid rgb(0, 255, 162);
    transition: 0s;
}

#veco_fun_L{
    position: absolute;
    top: 6vh;
    left: 0.5vh;
    width: 7vh;
    height: 4vh;
    border-radius: 100%;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_fun_R{
    position: absolute;
    top: 6vh;
    right: 0.5vh;
    width: 7vh;
    height: 4vh;
    border-radius: 100%;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_fun_L.applyed{
    position: absolute;
    top: 4.3vh;
    left: 0.1vh;
    width: 7vh;
    height: 4vh;
    border-radius: 100%;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_fun_R.applyed{
    position: absolute;
    top: 4.3vh;
    right: 0.1vh;
    width: 7vh;
    height: 4vh;
    border-radius: 100%;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}

#veco_angry_L{
    position: absolute;
    top: 0vh;
    left: 1.5vh;
    width: 5vh;
    height: 1vh;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_angry_R{
    position: absolute;
    top: 0vh;
    right: 1.5vh;
    width: 5vh;
    height: 1vh;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_angry_L.based{
    position: absolute;
    top: 1.2vh;
    left: 1.5vh;
    width: 5vh;
    height: 2vh;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_angry_R.based{
    position: absolute;
    top: 1.2vh;
    right: 1.5vh;
    width: 5vh;
    height: 2vh;
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_angry_L.applyed{
    position: absolute;
    top: 1vh;
    left: 1.5vh;
    width: 5vh;
    height: 2vh;
    transform: rotateZ(20deg);
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}
#veco_angry_R.applyed{
    position: absolute;
    top: 1vh;
    right: 1.5vh;
    width: 5vh;
    height: 2vh;
    transform: rotateZ(-20deg);
    background-color: rgb(209, 204, 212);
    transition: 0.2s;
}

#rMouth{
    position: absolute;
    bottom: 2vh;
    left: 6vh;
    width: 3vh;
    height: 0.5vh;
    border-radius: 2vh;
    background-color: rgb(70, 70, 70);
}

#colorPicker{
    position: inherit;
    width: 13.2vh;
    height: 6.4vh;
    left: 58.5vh;
    top: 1.4vh;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 2vh;
    background-color: #cfbfff;
}
#colorPicker:hover{
    width: 13.2vh;
    height: 34vh;
    top: 0.1vh;
    transition: 0.5s;
}

.colorOption{
    display: inline-flex;
    border: 0.2vh solid rgb(52, 47, 64);
    border-radius: 100vw;
    width: 5.2vh;
    height: 5.2vh;
    margin: 0.5vh;
    transition: 0.1s;
}
.colorOption:hover{
    display: inline-flex;
    border-radius: 100vw;
    width: 5.8vh;
    height: 5.8vh;
    margin: 0.2vh;
    transition: 0.1s;
}

.blackCan{
    background-color: rgb(0, 0, 0);
}
.whiteCan{
    background-color: rgb(250, 250, 250);
}
.redCan{
    background-color: rgb(222, 0, 0);
}
.orangeCan{
    background-color: rgb(222, 85, 0);
}
.yellowCan{
    background-color: rgb(251, 238, 0);
}
.greenCan{
    background-color: rgb(30, 222, 0);
}
.cyanCan{
    background-color: rgb(0, 255, 255);
}
.blueCan{
    background-color: rgb(0, 0, 222);
}
.purpleCan{
    background-color: rgb(140, 0, 255);
}
.pinkCan{
    background-color: rgb(222, 0, 222);
}

.pickedCan{
    border: 0.2vh solid rgb(255, 101, 63);
}
.defaultCan{
    border: 0.2vh solid rgb(53, 40, 30);
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}