#header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 9vh;
    background-color: rgb(220, 220, 250);
}

#logo_cluster{
    position: inherit;
    top: 0.5vh;
    left: 0.5vh;
    height: 8vh;
    width: auto;
    border-radius: 4vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2vh 3vh rgb(255, 255, 255);
    transition: background 0.8s, box-shadow 0.8s;
}
#logo_cluster:hover{
    background-color: rgb(52, 47, 64);
    box-shadow: 0 0 2vh 3vh rgb(52, 47, 64);
    transition: background 0.8s, box-shadow 0.8s;
}

#naming{
    position: inherit;
    height: 2vh;
    width: auto;
    top: 2.6vh;
    left: 12vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
}

#points_counter{
    position: inherit;
    height: 2.8vh;
    width: 9vh;
    top: 2.8vh;
    left: 28vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #9BFFD4;
    border-radius: 1vh;
    align-content: center;
    text-align: center;
    vertical-align: text-top;
    transition: background 0.5s;
}

#clusters{
    position: inherit;
    height: 3vh;
    width: 12vh;
    top: 1.7vh;
    left: 40vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #f6f6f6;
    border-radius: 1vh;
    align-content: center;
    text-align: center;
    vertical-align: text-top;
    transition: background 0.5s;
}

#cluster_counter{
    position: inherit;
    height: 2.8vh;
    width: 10.5vh;
    top: 4vh;
    left: 39.8vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #222222;
    color: #dbdbdb;
    border-radius: 1vh;
    align-content: center;
    text-align: center;
    vertical-align: text-top;
    border: 0;
    transition: background 0.5s;
    padding-left: 1.5vh;
}

#clust_start_button{
    position: inherit;
    height: 2.8vh;
    width: 9vh;
    top: 2.8vh;
    left: 56vh;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #f6f6f6;
    border-radius: 1vh;
    align-content: center;
    text-align: center;
    vertical-align: text-top;
    transition: background 0.5s;
}

#clust_start_button:hover{
    background-color: #feffde;
    transition: background 0.5s;
}

#clust_start_button:active{
    background-color: #bfff92;
    transition: background 0.02s;
}

#pointing_box_cl{
    position: fixed;
    width: 50vw;
    height: 50vw;
    background-color: rgb(52, 47, 64);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
}

#canvasFon{
    position: absolute;
    left: 10px;
    top: 10px;
}
#canvasBack{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.point.appeared{
    position: absolute;
    background-color: rgba(146, 255, 57, 0);
    border: 2px solid rgba(239, 0, 195, 0);
    border-radius: 100%;
    box-shadow: inset 0 0 10px 10px rgb(0, 132, 255);
    transition: 0.2s;
}

.point{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(147, 147, 147);
    border-radius: 100%;
    transition: 0.3s;
    z-index: 5;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}